/*
 * Clases reutilizables para el proyecto
 * (Aquí pueden ir las clases de tu grid)
 */

.mb-0 {
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0;
}

.text-uppercase {
    text-transform: uppercase;
}

.img-responsive {
    max-width: 50%;
    height: auto;
}

.container {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

[class*="col-"] {
    min-height: 7px;
    padding: 12px;
    float: left;
}

.col-4 {
    /*(4/12) x 100 */
    width: 33.333333%;
}

.productos {
    height: 250px;
    margin: 10px;
}


/*.hidden {
	display: none !important;
}*/